 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(3,119,170,0.7), rgba(3,119,170,0.7)), url("images/BJJ.jpg");
  background-position: 25.52% 46.12%;
  background-size: 125%;
}

.u-section-1 .u-sheet-1 {
  min-height: 705px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 765px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 40px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 765px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 245px auto 0 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  background-image: none;
  margin: 52px auto 0;
  padding: 19px 85px 19px 84px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 631px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 631px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 30px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
    padding-right: 55px;
    padding-left: 54px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1105px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 46.4% 47.16%;
    background-size: auto 125%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 771px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 148px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin: 62px 15px -12px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 501px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 22px;
    margin-left: 15px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 38px;
    margin-left: 0;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 29px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url("images/noise.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 702px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  width: 383px;
  margin: 82px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 67px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 409px;
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  letter-spacing: 2px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-3 {
  letter-spacing: 1px;
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  letter-spacing: 2px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-5 {
  letter-spacing: 1px;
  line-height: 1.6;
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  letter-spacing: 2px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-7 {
  letter-spacing: 1px;
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
    min-height: 315px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 699px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 579px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-image-1 {
  width: 303px;
  height: 303px;
  background-image: url("images/9Z7A2801.jpg");
  background-position: 65.84% 50%;
  margin: 29px auto 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  letter-spacing: 4px;
  margin: 44px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 27px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 579px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  line-height: 1.6;
  width: 285px;
  font-size: 1.25rem;
  margin: 30px auto 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 30px auto 0;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 46px auto 0;
  padding: 18px 88px 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 477px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 477px;
  }

  .u-section-3 .u-text-4 {
    padding-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 537px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    width: 300px;
    height: 300px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 689px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 1px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 44px;
    margin-left: 0;
    margin-right: 0;
    padding: 19px 68px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1044px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 762px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 615px;
  }

  .u-section-3 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-btn-1 {
    padding-right: 58px;
    padding-left: 58px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 520px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 23px auto 0 72px;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 25px auto 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 36px;
    margin-right: 36px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 239px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 520px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 420px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 1px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  margin: 40px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 346px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 265px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 760px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 398px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 251px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.25rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 613px;
}

.u-section-6 .u-form-1 {
  height: 457px;
  --radio-checked-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%230377aa'/%3e%3c/svg%3e");
  width: 1025px;
  margin: 97px auto 60px;
}

.u-section-6 .u-label-1 {
  font-weight: 700;
  letter-spacing: 3px;
}

.u-section-6 .u-form-group-2 {
  margin-left: 0;
}

.u-section-6 .u-label-2 {
  font-weight: 700;
  letter-spacing: 3px;
}

.u-section-6 .u-label-3 {
  font-weight: 700;
  letter-spacing: 3px;
}

.u-section-6 .u-form-group-4 {
  margin-left: 0;
}

.u-section-6 .u-label-4 {
  font-weight: 700;
  letter-spacing: 3px;
}

.u-section-6 .u-form-group-5 {
  margin-left: 0;
}

.u-section-6 .u-label-5 {
  font-weight: 700;
  letter-spacing: 3px;
}

.u-section-6 .u-label-6 {
  font-weight: 700;
  letter-spacing: 3px;
}

.u-section-6 .u-form-group-7 {
  margin-left: 0;
}

.u-section-6 .u-label-7 {
  font-weight: 700;
  letter-spacing: 3px;
}

.u-section-6 .u-form-group-8 {
  margin-left: 0;
}

.u-section-6 .u-label-8 {
  font-weight: 700;
  letter-spacing: 3px;
}

.u-section-6 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 100px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-form-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-form-1 {
    width: 340px;
  }

  .u-section-6 .u-btn-1 {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 855px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  width: 584px;
  margin: 62px auto 0;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 56px 0 46px;
}

.u-section-7 .u-image-1 {
  min-height: 344px;
  background-image: linear-gradient(0deg, rgba(3,119,170,0.5), rgba(3,119,170,0.5)), url("images/BOX.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  font-size: 4.5rem;
  letter-spacing: 10px;
  margin: 0 auto;
}

.u-section-7 .u-image-2 {
  min-height: 344px;
  background-image: linear-gradient(0deg, rgba(3,119,170,0.5), rgba(3,119,170,0.5)), url("images/MMA.jpg");
  background-position: 50% 43.23%;
  background-size: 155%;
}

.u-section-7 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  font-size: 4.5rem;
  letter-spacing: 10px;
  margin: 0 auto;
}

.u-section-7 .u-image-3 {
  min-height: 344px;
  background-image: linear-gradient(0deg, rgba(3,119,170,0.5), rgba(3,119,170,0.5)), url("images/Grappling.jpg");
  background-position: 54.84% 89.57%;
  background-size: 135%;
}

.u-section-7 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-7 .u-text-4 {
  font-weight: 700;
  font-size: 4.5rem;
  letter-spacing: 10px;
  margin: 0 auto;
}

.u-section-7 .u-image-4 {
  min-height: 344px;
  background-image: linear-gradient(0deg, rgba(3,119,170,0.5), rgba(3,119,170,0.5)), url("images/BOX.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-7 .u-text-5 {
  font-weight: 700;
  font-size: 3.75rem;
  letter-spacing: 10px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 636px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-1 {
    min-height: 284px;
  }

  .u-section-7 .u-image-2 {
    min-height: 284px;
  }

  .u-section-7 .u-image-3 {
    min-height: 284px;
  }

  .u-section-7 .u-image-4 {
    min-height: 284px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-7 .u-image-1 {
    min-height: 218px;
  }

  .u-section-7 .u-image-2 {
    min-height: 218px;
  }

  .u-section-7 .u-image-3 {
    min-height: 218px;
  }

  .u-section-7 .u-image-4 {
    min-height: 218px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1334px;
  }

  .u-section-7 .u-text-1 {
    width: 540px;
  }

  .u-section-7 .u-image-1 {
    min-height: 327px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-image-2 {
    min-height: 327px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-image-3 {
    min-height: 327px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-4 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-image-4 {
    min-height: 327px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-5 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 878px;
  }

  .u-section-7 .u-text-1 {
    width: 340px;
  }

  .u-section-7 .u-image-1 {
    min-height: 206px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-image-2 {
    min-height: 206px;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-image-3 {
    min-height: 206px;
  }

  .u-section-7 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-image-4 {
    min-height: 206px;
  }

  .u-section-7 .u-text-5 {
    font-size: 1.875rem;
  }
}